stepfunctions/state_machine.json
{
  "Comment": "Image Resizing Workflow",
  "StartAt": "ResizeImage",
  "States": {
    "ResizeImage": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:us-east-1:920736616804:function:MyNumberResizer",
      "ResultPath": "$.resizeResult",
      "Catch": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "Next": "ResizeFailed"
        }
      ],
      "Next": "ResizeSucceeded"
    },
    "ResizeSucceeded": {
      "Type": "Succeed"
    },
    "ResizeFailed": {
      "Type": "Fail",
      "Error": "ResizeFailed",
      "Cause": "Image resizing failed"
    }
  }
}
